body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img.img-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 5px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.jumbotron {
  margin: 10px 0px;  
}

.jumbotron h1 {
  color: #5394B9;
}

h2.header {
  font-size: 16px;
  font-family: Helvetica;
}

.job {
  font-style: italic;
}

.panel-title {
  color: #5394B9;
  font-size: 30px;
}

.panel-body p {
  color: #5394B9;
}

.well h2 {
  color: #5394B9;
  font-size: 30px;
}

.well p {
  color: #5394B9;
}

.well ol, .panel-body ul {
  font-family: Helvetica;
}

ol li {
  margin-top: 5px;
}

ul li {
  margin-top: 0px;
}