body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img.img-thumbnail {
  max-width: 100%;
  height: auto;
  border: 2px dotted #d17c52;
  float: left;
  padding: 5px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.jumbotron {
  margin: 20px 0px;  
  background-image: url(canyon.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  color: rgb(0, 0, 0);
}

h2.header {
  font-size: 16px;
  font-family: Helvetica;
  color:  rgb(0, 0, 0);
  margin-left: 60%;
}

.job {
  font-style: italic;
}

.panel {
  border: 2px dotted #d17c52;
}

.panel-heading {
  background-color: #d17c52;
}

.panel-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.panel-body h4 {
  color: #d17c52;
}

.well {
  background-image: url(canyon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  border: 2px dotted #d17c52;
  height: 750px;
  overflow-y: scroll;
}

.well h2 {
  font-size: 30px;
  font-weight: bold;
}

.well p {
  font-weight: bold;
}

.well ol, .panel-body ul {
  font-family: Helvetica;
}

ol {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

ol li {
  margin-top: 5px;
}

ul li {
  margin-top: 0px;
}

a, a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}