body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img.img-thumbnail {
  max-width: 100%;
  height: auto;
  border: 2px dotted rgb(116, 66, 9);
  float: right;
  padding: 5px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.jumbotron {
  margin: 20px 0px;  
  background-image: url(canyon.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  color: rgb(0, 0, 0);
}

h2.header {
  font-size: 16px;
  font-family: Helvetica;
  color:  rgb(0, 0, 0);
  margin-left: 60%;
}

.job {
  font-style: italic;
}

.panel {
  border: 2px dotted rgb(116, 66, 9);
}

.panel-title {
  color: rgb(116, 66, 9);
  font-size: 30px;
}

.panel-body p {
  color: rgb(116, 66, 9);
}

.well {
  background-image: url(canyon2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
}

.well h2 {
  font-size: 30px;
}

.well p {
  font-weight: bold;
}

.well ol, .panel-body ul {
  font-family: Helvetica;
}

ol li {
  margin-top: 5px;
}

ul li {
  margin-top: 0px;
}

a, a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}